<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .wapper{
      max-width:1200px;
      margin:0 auto;
    }
    .title{
      text-align: center;
      margin:0;
    }
    a{
      text-decoration: none!important;
    }
  </style>
  <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">本地相册</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">全部相册 <span class="sr-only">(current)</span></a></li>
          <li><a href="/upload">上传</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='wapper'>
    <div class="row">
      <% for(var i=0;i<allPhotos.data.length;i++){ %>
        <div class="col-xs-6 col-md-3">
            <a href="<%= allPhotos.path %>" class="thumbnail">
              <img src="/photo/<%= allPhotos.path %>/<%= allPhotos.data[i]%>">
              <p class='title'><%= allPhotos.data[i] %></p>
            </a>
          </div>
      <% } %>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>